@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');



/* HEADER */
* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    height: 400px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    height: 400px;
}
header .banner {
    position: relative;
    height: 200px;
    width: 100%;
}
header .banner .logo {
    float: left;
    padding-left: 15%;
}
.media {
    display: flex;
    padding: 20px;
    flex-direction: row;
}
header .banner .media {
    padding-left: 50%;
}
header .banner .media figure {
    text-align: center;
    position: relative;
    width: 50px;  
    padding: 0 5%;
    padding-top: 45px;
}
header .banner figure img {
    width: 50px;
}
header nav {
    background-color: rgb(7, 6, 31);
    padding: 10px 0;
    height: 40px;
}
nav ul {
    margin: 0;
    padding-top: 10px;
    list-style-type: none;
}
nav ul li {
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 0px 180px;
}
nav ul li a {
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    padding: 0 40%;
}
nav ul li a:hover {
    color: rgba(5, 121, 5, 0.87);
}




/* HEADER RESPONSIVE RULES */
@media screen and (max-width: 1560px) {

    header .banner .logo {
        padding-left: 12%;
    }
    header .banner .media {
        padding-left: 42.5%;
    }
    header .banner .media figure {
        padding: 0 8%;
        padding-top: 45px;
    }
}
@media screen and (max-width: 1305px) {
    nav ul li{
        padding: 0 120px;
    }
    header .banner .logo {
        padding-left: 15%;
    }
    header .banner .media {
        padding-left: 35%;
    }
}
@media screen and (max-width: 1150px) {
    header .banner .media {
        padding-left: 27.5%;
    }
}
@media screen and (max-width: 945px) {
    nav ul li{
        padding: 0 80px;
    }
    header .banner .logo {
        padding-left: 12%;
    }
}
@media screen and (max-width: 830px) {
    header .banner .logo {
        padding-left: 10%;
    }
}
@media screen and (max-width: 750px) {
    header .banner .logo {
        padding-left: 7%;
    }
    header .banner .media {
        padding-left: 20%;
    }
    header .banner .media figure {
        padding: 0 8%;
        padding-top: 45px;
    }
}
@media screen and (max-width: 705px) {
    nav ul li{
        padding: 0 60px;
    }
}
@media screen and (max-width: 660px) {
    header .banner .logo {
        padding-left: 5%;
    }
    header .banner .media {
        padding-left: 15%;
    }
}
@media screen and (max-width: 590px) {
    nav ul li {
        padding: 0 40px;
    }
    header .banner .media {
        padding-left: 12%;
    }
    header .banner .media figure {
        padding: 0 5%;
        padding-top: 45px;
    }
}
@media screen and (max-width: 565px) {
    nav ul li {
        font-size: 14px;
    }
    header .banner .media {
        padding-left: 10%;
    }
    header .banner .media figure {
        padding: 0 5%;
        padding-top: 60px;
    }
    header .banner .media figure img {
        width: 35px;
    }
}
@media screen and (max-width: 465px) {
    nav ul li{
        padding: 0 20px;
    }
    nav ul li a  {
        padding-left: 0;
    }
    header .banner .logo {
        padding-left: 4%;
    }
}
@media screen and (max-width: 420px) {
    header .banner .logo {
        padding-left: 30%;
    }
    header .banner .media {
        padding-left: 25%;
        padding-top: 0;
    }
    header .banner .media figure {
        padding: 0 5%;
    }
    header .banner .media figure img {
        width: 35px;
    }
}
@media screen and (max-width: 375px) {
    header .banner .logo {
        padding-left: 22%;
    }
    header .banner .media {
        padding-left: 20%;
    }
}
@media screen and (max-width: 345px) {
    nav ul li{
        padding: 0 15px;
    }
    header .banner .logo {
        padding-left: 20%;
    }
    header .banner .media {
        padding-left: 18%;
    }
}
@media screen and (max-width: 315px) {
    nav ul li{
        padding: 0 10px;
    }
    header .banner .logo {
        padding-left: 17%;
    }
    header .banner .media {
        padding-left: 16%;
    }
}
@media screen and (max-width: 285px) {
    nav ul li{
        font-size: 12px;
    }
    header .banner .logo {
        padding-left: 15%;
    }
    header .banner .media {
        padding-left: 14%;
    }
}






/* FEATURES */
.features {
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}
.features figure img {
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    border: 1px solid white;
    width: 200px;
}
.features figure figcaption {
    text-shadow: .5px .5px grey;
}





/* FOOTER */
footer {
    background-color: rgb(7, 6, 31);
    color: grey;
    text-align: center;
    font-size: 12px;
    padding: 20px 20px;
}
footer ul li{
    display: inline;
    padding-right: 20px;
}